*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: blue;
}
/*UTILITY*/
.row{
  margin: 0px 30px;
}
.txt-center{
  text-align: center;
}
.all-item{
  align-items: center;
}
.debug{
  border: 1px solid black;
}
.dir-collum{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}

.just-cent{
  justify-content: center;
}
.space-bt{
  justify-content: space-between;
}
.d-flex{
  display: flex;
}

.container{
  width: 99%;
  margin: 0 auto;
  padding: 30px 0px;
}
.get{
  margin-top: 100px;
}
ul{
  display: none;
}


.card-sm,
.card-lg,
.card-m,
.card-xl{
  margin: 20px 0px;
  width: 310px;
  background-color: brown;
  height: 350px;
}

.card-lg{
  height: 600px;
}

.card-m{
  height: 400px;
}

.card-xl{
  height: 700px;
}

img{
  width: 100%;
}

.back-violet{
  background-color: blueviolet;
}

.back-black{
  background-color: black;
}








@media only screen and (min-width: 767px){
  .get .row{
    flex-direction: row;
  }

  .get .colum:first-child{
    width: 60%;
  }
  .get .colum:nth-child(2){
    width: 40%;
  }
  .get .colum{
    width: calc(100% / 3);
  }
  .strat .colum,
  .testim .colum{
    width: 100%;
  }
}
@media only screen and (min-width: 1199px){
  .strat .row{
    flex-wrap: nowrap;
  }
  ul{
    display: flex;
  }
  .burger{
    display: none;
  }
}