*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}


header ul{
  display: none;
  list-style: none;
}
header a{
  text-decoration: none;
}
header{
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0084fd;
}
img{
  width: 100%;
}
body{
  font-family: "PT Sans", sans-serif; ;
}


/*UTILITY*/

.txt-deco{
  text-decoration: none;
}
.line-h{
  line-height: 35px;
}
.posit-rela{
  position: relative;
}
.posit-abso{
  position: absolute;
}
.font-3-5{
  font-size: 3.5rem;
}
.font-0-8{
  font-size: 0.8rem;
}
.font-1-5{
  font-size: 1.5rem;
}
.font-2{
  font-size: 2rem;
}
.img-oblo{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.marg-top-m{
  margin-top: 30px;
}
.color-white{
  color: white;
}
.fake-btn{
  border-radius: 20px;
  font-size: 1.15rem;    
  padding: 10px 51px;
  
}
.fake-btn-link{
  border-radius: 20px;
  padding: 5px 15px;  
}
.pad-lef-s{
  padding-left: 10px;
}
.pad-rig-s{
  padding-right: 10px;
}
.pad-lef-m{
  padding-left: 20px;
}
.pad-rig-m{
  padding-right: 20px;
}
.marg-rig-s{
  margin-right: 20px;
}
.heig-card{
  height: 100%;
}
.icon-blu{
  font-size: 5rem;
}
.padding-card{
  padding: 30px;
}
.marg-bot-s{
  margin-bottom: 25px;
}
.marg-bot-m{
  margin-bottom: 40px;
}

.card-big{
  padding: 35px 30px 0px 30px;
}
.card-radius-l{
  border-radius: 50px;
}
.card-radius{
  border-radius: 20px;
}
.color-gray{
  color: rgb(97, 96, 96);
}
.back-blu{
  background-color: #0084fd;
}
.color-blu{
  color: #0084fd;
}
.color-violet{
  color: #9792e4;
}
.color-yell{
  color: #fdc15f;
}
.back-black{
  background-color: #333333;
}
.back-violet{
  background-color: #9792e4;
}
.back-white{
  background-color: white;
}
.back-sky{
  background-color: #b5ddff;
}
.row{
  margin: 0px 30px;
}
.txt-center{
  text-align: center;
}
.all-item{
  align-items: center;
}
.debug{
  border: 1px solid black;
}
.dir-collum{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}

.just-cent{
  justify-content: center;
}
.space-bt{
  justify-content: space-between;
}
.d-flex{
  display: flex;
}
.container{
  width: 99%;
  margin: 0 auto;
  padding: 30px 0px;
}


.get{
  margin-top: 100px;
}
.get img{
  width: 220px;
}



.btn-arrow{
  border-radius: 50%;
  padding: 12px 14px;
}


.testim-txt{
  width: 86%;
}
.img-oblo{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.testim i{
  color: white;
  font-size: 1.5rem;
}

.linkedin{
  width: 190px;
}
.abaut i{
  top: 0;
  right: 0;
}
.big-btn{
  padding: 15px 90px;

}
.started li{
  margin-right: 17px;
}
.started p:first-child{
  letter-spacing: 3px;
  
}




@media only screen and (min-width: 767px){
  .get .row{
    justify-content: space-between;
    flex-direction: row;
  }

  .get .colum:first-child{
    padding-right: 10px;
    width: 66.7%;
  }
  .get .colum:nth-child(2){
    padding-left: 20px;
    width: 33.3%;
  }
  .get .colum{
    justify-content: space-between;
    width: calc(100% / 3 - 20px);
  }
  .strat .colum,
  .testim .colum{
    width: 100%;

  }
  .strat-txt h2{
    font-size: 5rem;
  }
  .testim .card{
    flex-direction: row;
  }
  .testi-txt h2{
    font-size: 3rem;
  }
  .benef .colum{
    width: calc(100% / 2 - 15px);
  }
  .benef-txt h2{
    font-size: 3rem;
  }
  .abaut .colum{
    display: flex;
  }
  .abaut-txt{
    width: 80%;
    margin-right: 150px;
  }
  .abaut-img{
    width: 50%;
  }
  
}

@media only screen and (min-width: 1199px){
  .strat .row{
    flex-wrap: nowrap;
  }
  header ul{
    display: flex;
  }
  .burger{
    display: none;
  }
  .strat .colum:nth-child(2){
    margin-bottom: 0;
    margin-top: 100px;
  }
  .benef .colum{
    width: calc(100% / 3 - 15px);
  }
}